footer {
	position: relative;
	background-color:$black;
	color:$white;
	padding-top:2rem;
	padding-bottom:2rem;
	a {
		color:$white;
		box-shadow:none !important;
	}


	.footer-wrapper {
		font-size:1rem;
		.primary {
			@include breakpoint(medium) {
				display: flex;
				justify-content: space-between;
			}
		}
		
		.social {
			a {
				color: $white;
				border-color: $white;
				text-align: center;
				padding-top: 0.3rem;
			}
		}
		
		&.legal {
			color:$grey;
			a {
				text-decoration: underline;
				color:$white;

			}
			.footer-navigation-links {
				@include listReset();
				li {
					display: inline;
					@include breakpoint(medium) {
						margin-right: 1rem;
					}
				}
			}
		}
		.widget {
			margin-bottom: 2rem;
			h3 {
				padding-top: 0;
			}
		}
	}
}

