footer {
	position: relative;
	background-color:$black;
	color:$white;
	
	padding-bottom:2rem;
	


	.footer-wrapper {

		a:link, a:visited, a:focus, a:hover {
			color:$white;
			text-decoration: underline;
			box-shadow:none !important;
		}
		a:hover {
			opacity: 0.5;
		}

	
		font-size:1rem;
		.primary {
			@include breakpoint(medium) {
				display: flex;
				justify-content: space-between;
			}
		}

		&.contact {
			padding-top:2rem;
		}
		
		.social {
			a {
				color: $white;
				border-color: $white;
				text-align: center;
				padding-top: 0.4rem;
			}
		}
		
		&.legal {
			color:$grey;
			a {
				text-decoration: underline;
				color:$white;

			}
			.footer-navigation-links {
				@include listReset();
				li {
					display: inline;
					@include breakpoint(medium) {
						margin-right: 1rem;
					}
				}
			}
		}
		.widget {
			margin-bottom: 2rem;
			h3 {
				padding-top: 0;
			}
		}
	}

	.announcement {
		background-color: $brand-secondary;
		padding-top: 2rem;
		padding-bottom: 2rem;
		.announcement-content {
			color: $white;
			text-align: center;
		}
	}
}

