/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------Mixins---------------------------*/
@mixin breakpoint($point) {
    @if $point == xlarge {
        @media (min-width:1200px) {
            @content;
        }
    }
     @if $point == large {
        @media (min-width:992px) {
            @content;
        }
    }
    @else if $point == medium {
        @media (min-width:768px) {
            @content;
        }
    }
    @else if $point == small {
        @media (min-width:580px) {
            @content;
        }
    }
}

@mixin iconfix {
	-moz-font-feature-settings: normal;
	-moz-font-language-override: normal;
	-moz-osx-font-smoothing: grayscale;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
	display: block;
	
	-webkit-font-smoothing: antialiased;
}


/*Benton Sans Book*/
@mixin benton-book {
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}
/*Benton Sans Book Italic*/
@mixin benton-book-italic {
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}
/*Benton Sans Bold*/
@mixin benton-bold {
	font-family: benton-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}
/*Benton Sans Bold Italic*/
@mixin benton-bold-italic {
	font-family: benton-sans, sans-serif;
	font-weight: 700;
	font-style: italic;
}


@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: $size / 18 * 1rem;
}

@mixin listReset() {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0.2em 0;
        }
    }
}

@mixin fa-inline-prep() {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0
}

/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------END Mixins----------------------*/

html {
	min-height:100%;
	position:relative;
}
html, body {
    font-size:$default-font-size;
    @include benton-book();
}

body {
	background-repeat:no-repeat;
	background-position:top left;
	overflow-x: hidden;
	color:$text-color;
	background-color:$body-bg;
	margin:0;
	padding:0;
}

#line {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:200;
}
    
p {
	font-size:$default-font-size;
}

b, strong {
	@include benton-bold();
}

i, em {
	@include benton-book-italic();
}

strong em, em strong {
	@include benton-bold-italic();
}

h1, h2, h3, h4, h5, h6 {
	@include benton-bold();
}

h1 {
	font-size:2rem;
	line-height:2.5rem;
	
	@include breakpoint(medium) {
       font-size:3rem;
       line-height:3.5rem;
    }
}

h2 {
	font-size:1.8rem;
	padding: 1rem 0 0 0;
	@include breakpoint(medium) {
       font-size:2.5rem;
    }
}

h3 {
	font-size:1.2rem;
	line-height:1.4rem;
	padding: 1rem 0;
	@include breakpoint(medium) {
       font-size:1.3rem;
       line-height:1.8rem;
    }
}
h4 {
	font-size:1rem;
	line-height:1.5rem;
}

/*.is_stuck {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}*/

.highlight {
    display: inline;
    text-decoration:none;
}
.highlight_over {
	display: inline;
    text-decoration:none;
}

.leading-quote {
    position: absolute;
    left: 0.3rem;
}

a {
	display:inline-block;
	color:$brand-secondary;
	&:link, &:visited {
		color:$brand-secondary;
		@extend .highlight;
		
	}
	&:hover, &:active, &:focus {
		color:$brand-tertiary;
	}
}



img {
	max-width:100%;
	height:auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .caption {
    	padding:10px 20px;
    	p {
        	background-color:$black;
			box-shadow: 10px 0 0 $black, -10px 0 0 $black;
			display:inline;
			box-decoration-break:clone;
			text-decoration:none;
			border-bottom:none;
			color:$white;
		}
	}
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.featured-content {
	margin-bottom:15px;
}
.featured-image {
	max-width:100%;
	text-align:center;
	.featured-image-caption {
		font-size:0.666rem;
		max-width:100%;
		margin-top:10px;
	}
}

.file-uploads {
	.fa {
		font-size:2rem;
		color:$black;
		margin:2.222rem 0 1rem 0;
	}
	ul {
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	li {
    		display: block;
    		margin-bottom:2rem;
	   	}
    }
}



.social {

	a {
		display:inline-block;
		margin-right:1rem;
		
		padding:0;
		border:none;
		box-shadow:none;
		width:auto;
		height:auto;
		@include breakpoint(small) {
			border-radius:50%;
			border:1px solid $black;
			width:2.333rem;
			height:2.333rem;
			
		}	
		&:hover {
			opacity:0.5;
		}
		&.scroll {
			float: right;
			background: $black;
    		color: $white !important;
    		padding-top: 0.777rem;
		}
		.fa {
			font-size:1rem;
			
			&.fa-chevron-up {
				
			}
		}
		&.long {
			width:auto;
			padding:0.85rem 0;
		}
		&.donate {
			background: $black;
    		color: $white;
    		border-radius:32px;
    		padding:0.85rem 1rem;
			
		}
	}
}

.navigation.pagination {
	text-align:center;
	width:100%;
	.nav-links {
		a, span {
			margin:0 10px;
		}
	}
}

//overwriting bootstrap tag class
body.tag {
    display: inherit;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: initial;
    vertical-align: inherit;
    border-radius: 0;
}


#wpadminbar {
	a { 
		box-shadow:none !important;
	}
}
.alignleft {
    margin-top: 0.5rem;
    margin-right: 1rem !important;
}

.panel {
    position: fixed;
    right: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}