// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$default-font-size:     18px; 

// Colors
$brand-primary:         #010101;
$brand-secondary:		#73409c;
$brand-tertiary:		#eb3d31;
$text-color:            #010101;
$body-bg:               #FFFFFF;

//Supporting colors
$link:	                #f6ff00;
$link-hover:	        #eb3d31;
$black:                 #010101;
$white:                 #FFFFFF;
$grey:                  #eeeeee;
